@charset "UTF-8";
:root {
  --cell-size: 48px;
  --cell-border-color: rgb(150, 150, 150);
  --btn-mult: 2;
}

.body__score-board {
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}
.body__score-board .baccarat-score {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  width: 95%;
  height: fit-content;
  border: 1px solid #000;
}
.body__score-board .baccarat-score .baccarat-info {
  display: block;
  position: relative;
  width: 10%;
  height: 100%;
}
.body__score-board .baccarat-score .baccarat-info > ul {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: space-around;
  width: 100%;
  height: inherit;
}
.body__score-board .baccarat-score .baccarat-info > ul > li {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
  height: 25%;
}
.body__score-board .baccarat-score .baccarat-info > ul > li > span {
  width: fit-content;
  width: 20px;
  height: 20px;
  border-radius: 50% 50%;
  margin: auto 0;
}
.body__score-board .baccarat-score .baccarat-info > ul > li > p > span:first-child {
  font-weight: bold;
  width: fit-content;
  font-size: 20px;
}
.body__score-board .baccarat-score .baccarat-info > ul > li > p > span:last-child {
  display: block;
  font-weight: 400;
  font-size: 18px;
}
.body__score-board .baccarat-score .baccarat-info > ul > li:nth-of-type(1) > span, .body__score-board .baccarat-score .baccarat-info > ul > li:nth-of-type(4) > span {
  background-color: blue;
}
.body__score-board .baccarat-score .baccarat-info > ul > li:nth-of-type(2) > span, .body__score-board .baccarat-score .baccarat-info > ul > li:nth-of-type(5) > span {
  background-color: red;
}
.body__score-board .baccarat-score .baccarat-info > ul > li:nth-of-type(3) > span {
  background-color: rgb(0, 171, 56);
}
.body__score-board .baccarat-score .score-box {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 90%;
  height: calc(var(--cell-size) * 13);
}
.body__score-board .baccarat-score .score-box .score-set {
  display: flex;
  flex-flow: row;
  border: 1px solid var(--cell-border-color);
  width: fit-content;
  overflow-x: scroll;
}
.body__score-board .baccarat-score .score-box .score-set::-webkit-scrollbar {
  height: 2vmin; /* 스크롤바의 너비 */
}
.body__score-board .baccarat-score .score-box .score-set::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  border-radius: 10px;
  background-color: cornflowerblue;
}
.body__score-board .baccarat-score .score-box .score-set::-webkit-scrollbar-track {
  background-color: lavender;
}
.body__score-board .baccarat-score .score-box .score-set.score-board {
  width: 100%;
}
.body__score-board .baccarat-score .score-box .score-set .column_back {
  display: flex;
  position: relative;
  flex-flow: column;
  width: var(--cell-size);
  height: calc(var(--cell-size) * 6);
}
.body__score-board .baccarat-score .score-box .score-set .column_back .cell_back {
  display: block;
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid var(--cell-border-color);
}
.body__score-board .baccarat-score .score-box .score-set .column_back .cell_back.cell_main > .main_dot {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 50% 50%;
}
.body__score-board .baccarat-score .score-box .score-set .column_back .cell_back.cell_main > .main_dot.main_p {
  border: 4px solid blue;
}
.body__score-board .baccarat-score .score-box .score-set .column_back .cell_back.cell_main > .main_dot.main_b {
  border: 4px solid red;
}
.body__score-board .baccarat-score .score-box .score-set .column_back .cell_back.cell_main > .main_dot.main_t {
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="40%" y1="100%" x2="100%" y2="40%" stroke="rgb(0,171,56)" stroke-width="4px"/></svg>');
}
.body__score-board .baccarat-score .score-box .score-set .column_back .cell_back.cell_table > .table_dot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 50% 50%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.body__score-board .baccarat-score .score-box .score-set .column_back .cell_back.cell_table > .table_dot.table_p {
  background-color: blue;
}
.body__score-board .baccarat-score .score-box .score-set .column_back .cell_back.cell_table > .table_dot.table_b {
  background-color: red;
}
.body__score-board .baccarat-score .score-box .score-set .column_back .cell_back.cell_table > .table_dot.table_t {
  background-color: rgb(0, 171, 56);
}
.body__score-board .btn_box {
  display: flex;
  justify-content: space-between;
  width: calc(var(--cell-size) * var(--btn-mult) * 4 + var(--cell-size) * 3);
}
.body__score-board .btn_box .record_btn {
  cursor: pointer;
  width: calc(var(--cell-size) * var(--btn-mult));
  height: calc(var(--cell-size) * var(--btn-mult));
  color: white;
  font-size: 36px;
  font-weight: bold;
  border-radius: 10% 10%;
}
.body__score-board .btn_box .record_btn.record_p {
  background-color: blue;
}
.body__score-board .btn_box .record_btn.record_b {
  background-color: red;
}
.body__score-board .btn_box .record_btn.record_t {
  background-color: rgb(0, 171, 56);
}
.body__score-board .btn_box .record_btn.record_w {
  background-color: gold;
}