* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

:root {
  --cell-size: 50px;
  --cell-border-color: rgb(150, 150, 150);
  --btn-mult: 2;
}

.baccarat-score {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(var(--cell-size) * (14 + var(--btn-mult)));
  .btn_box {
    display: flex;
    justify-content: space-between;
    width: calc((var(--cell-size) * var(--btn-mult)) * 4 + var(--cell-size) * 3);
    .record_btn {
      cursor: pointer;
      width: calc(var(--cell-size) * var(--btn-mult));
      height: calc(var(--cell-size) * var(--btn-mult));
      color: white;
      font-size: 36px;
      font-weight: bold;
      border-radius: 10% 10%;
      &.record_p {
        background-color: blue;
      }
      &.record_b {
        background-color: red;
      }
      &.record_t {
        background-color: rgb(0, 171, 56);
      }
      &.record_w {
        background-color: gold;
      }
    }
  }
  .score-box {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: fit-content;
    height: calc(var(--cell-size) * 13);
    .score-set {
      display: flex;
      flex-flow: row;
      border: 1px solid var(--cell-border-color);
      width: fit-content;
      .column_back {
        display: flex;
        flex-flow: column;
        width: var(--cell-size);
        height: calc(var(--cell-size) * 6);
        .cell_back {
          display: block;
          position: relative;
          width: var(--cell-size);
          height: var(--cell-size);
          border: 1px solid var(--cell-border-color);
          &.cell_main > .main_dot {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            border-radius: 50% 50%;
            &.main_p {
              border: 4px solid blue;
            }
            &.main_b {
              border: 4px solid red;
            }
            &.main_t {
              width: 100%;
              height: 100%;
              background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="40%" y1="100%" x2="100%" y2="40%" stroke="rgb(0,171,56)" stroke-width="4px"/></svg>');
            }
          }
          &.cell_table > .table_dot {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            border-radius: 50% 50%;
            color: white;
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            &.table_p {
              background-color: blue;
            }
            &.table_b {
              background-color: red;
            }
            &.table_t {
              background-color: rgb(0, 171, 56);
            }
          }
        }
      }
    }
  }
}
